body, html {
  height: 100%;
  width: 100%;
}
.Grid {
  margin: 0 auto;
}

.HorizontalRow {

}

.HorizontalLine {
  height: 10px;
  width: 50px;
}

.Dot {
  height: 10px;
  width: 10px;
  background: black;
}

.VerticalRow {
}

.VerticalLine {
  height: 50px;
  width: 10px;
}

.FillerBox {
  height: 50px;
  width: 50px;
  background: blue;
}

.L0 {
  background: white;
}

.L1 {
  background: black;
}

.P0 {
  background: #eee;
}

.P1 {
  background: red;
}

.P2 {
  background: blue;
}
